.title {
	margin: 1em 0;
	text-align: center;
}

.grid {
	display: grid;
	background-color: var(--GRAY);
	grid-gap: 2px;
	width: 60%;
	margin: auto;
}

.grid__rowNumber {
	text-align: right;
	font-weight: bold;
	margin: auto 1em auto 0em;
}

.grid__timeUntilArrival {
	position: absolute;
	text-align: center;
}

.grid__cell {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 8vh;
	min-width: 8vh;
	background-color: white;
	color: var(--BLACK);
}
