:root {
	/* FONTS */
	--FF: sans-serif;
	--FS: clamp(0.8rem, 2.2vh, 1.5rem);

	/* COLORS */
	--GRAY: rgb(238, 238, 238);
	--BLACK: rgb(65, 65, 65);
	--WHITE: rgb(255, 255, 255);

	/* BORDERS */
	--BORDER: 4px var(--GRAY) solid;
	--BORDER-RADIUS: 5px;

	/* MARGIN */
	--MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
}
